@import "variables";

/*
* {
    outline: solid 1px red;
}
*/
/*
#canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1000;
    position: absolute;
}
*/
.user {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 100%;
    height: 100vh;
    transition: all 1s;
    background-color: #bdc3c7;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    &.loaded {
        opacity: 0;
        visibility: hidden;
    }
}

.border-loading-indicator {
    width: 0px;
    height: 0px;
    border: 0px solid $borderColor4;
    border-width: $borderWidthY $borderWidthX;
}
.border-loading-indicator.row-2 {
    animation: border-loading-indicator-row-2 750ms linear infinite;
}
@keyframes border-loading-indicator-row-2 {
    0% {
        border-color: $borderColor4 $borderColor1 $borderColor2 $borderColor3;
    }
    25% {
        border-color: $borderColor3 $borderColor4 $borderColor1 $borderColor2;
    }
    50% {
        border-color: $borderColor2 $borderColor3 $borderColor4 $borderColor1;
    }
    75% {
        border-color: $borderColor1 $borderColor2 $borderColor3 $borderColor3;
    }
    100% {
        border-color: $borderColor4 $borderColor1 $borderColor2 $borderColor3;
    }
}

.video_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -9999;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: skewX(5deg);
    transform-origin: bottom left;
    @include tablet {
        transform: skewX(0);
    }
}
.matrix2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(5deg);
    transform-origin: bottom left;
    @include tablet {
        transform: skewX(0);
    }
}

.wrap {
    position: absolute;
    width: 150%;
    height: 100%;
    transform: translateX(-20%) skewX(-5deg);
    transform-origin: bottom left;
    z-index: -9000;
    overflow: hidden;
    background-color: #bdc3c7;
    @include tablet {
        width: 100%;
        transform: skewX(0);
    }
    .cover {
        position: absolute;
        background-color: #bdc3c7;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 1s;
        top:0;
        left:-100%;
        &.active {
            transform: translate(100%);
        }
    }
}
.wrap2 {
    position: absolute;
    width: 150%;
    height: 100%;
    right: 0;
    transform: translateX(0%) skewX(-5deg);
    transform-origin: bottom left;
    z-index: -9999;
    overflow: hidden;
    @include tablet {
        width: 100%;
        transform: skewX(0);
    }
    .cover2 {
        position: absolute;
        background-color: #bdc3c7;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 1s;
        top: 0;
        left: 100%;
        &.active {
            transform: translate(-100%);
        }
    }
}

.section1 {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    @include mobile {
        overflow: hidden;
    }
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
        width: 80%;
        list-style: none;
        li {
            min-width: 100%;
        }
    }
    .user_contents_wrap {
        transition: all 1s;
        text-align: center;
        transform: translateX(-1000%);
        &.active {
            transform: translateX(0);
        }
        .user_content {
            min-width: 100%;
            text-align: center;
            color: #fff;
            .title {
                text-shadow: 1px 1px 1px #7f8c8d;
            }
        }
    }
    .compnay_container_wrap {
        transition: all 1s;
        padding-top: 3rem;
        display: flex;
        overflow: hidden;
        align-items: center;
        transform: translateX(-1000%);
        &.active {
            transform: translateX(-100%);
        }
        .company_login,
        .company_register {
            transition: all 1s;
            min-width: 100%;
            transform: translateX(200%);
            visibility: hidden;
            opacity: 0;
            @include mobile {
            }
        }
        .company_login {
            &.active {
                visibility: inherit;
                opacity: 1;
                transform: translateX(0%);
            }
        }
        .company_register {
            &.active {
                visibility: inherit;
                opacity: 1;
                transform: translateX(-100%);
            }
        }
    }
}

.section2 {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
        width: 80%;
        list-style: none;
        li {
            min-width: 100%;
        }
    }
    .company_contents_wrap {
        transition: all 1s;
        text-align: center;
        transform: translateX(1000%);
        &.active {
            transform: translateX(-100%);
        }
        .company_content {
            min-width: 100%;
            text-align: center;
            color: #fff;
            .title {
                text-shadow: 1px 1px 1px #7f8c8d;
            }
        }
    }
    .user_container_wrap {
        transition: all 1s;
        padding-top: 3rem;
        display: flex;
        overflow: hidden;
        align-items: center;
        transform: translateX(1000%);
        &.active {
            transform: translateX(0);
        }
        .login,
        .register {
            transition: all 1s;
            min-width: 100%;
            transform: translateX(200%);
            visibility: hidden;
            opacity: 0;
            @include mobile {
            }
        }
        .login {
            &.active {
                visibility: inherit;
                opacity: 1;
                transform: translateX(0%);
            }
        }
        .register {
            &.active {
                visibility: inherit;
                opacity: 1;
                transform: translateX(-100%);
            }
        }
    }
}

.section2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    /*四角形を傾けます*/
    transform: skewY(-5deg);
    transform-origin: bottom left;

    z-index: -1;
    width: 100%;
    height: 100%;
}

.section_wrap {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    @include tablet {
        display: block;
        overflow: inherit;
    }
}

.login-form {
    position: relative;
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        opacity: 0.7;
        background-color: #bdc3c7;
    }
    .user_icon {
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 50%;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    label {
        color: #fff;
        white-space: nowrap;
        text-shadow: 2px 2px 2px #7f8c8d;
    }
    input[type="email"],
    input[type="password"] {
        border: none;
        background: none;
        border-radius: 0;
        border-bottom: solid 2px #fff;
        outline: none;
        width: 100%;
        color: #fff;
        text-shadow: 1px 1px 1px #7f8c8d;
    }
    button {
        width: 100%;
        border-radius: 50px;
        border: none;
        background-color: #fff;
    }
}

.register-form {
    position: relative;
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        opacity: 0.7;
        background-color: #bdc3c7;
    }
    .user_icon {
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 50%;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    label {
        color: #fff;
        white-space: nowrap;
        text-shadow: 2px 2px 2px #7f8c8d;
    }
    input {
        border: none;
        background: none;
        border-radius: 0;
        border-bottom: solid 2px #fff;
        outline: none;
        width: 100%;
        color: #fff;
        text-shadow: 1px 1px 1px #7f8c8d;
    }
    button {
        width: 100%;
        border-radius: 50px;
        border: none;
        background-color: #fff;
    }
}

.container_wrap {
    padding-top: 3rem;
    display: flex;
    overflow: hidden;
    align-items: center;
}
