html body * {
  font-family: "Quicksand", "M PLUS 1p", sans-serif;
}

.matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
}

.matrix2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.login-form {
  position: relative;
}

.login-form .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #000;
}

.login-form .user_icon {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.login-form label {
  color: white;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: solid 2px #fff;
  outline: none;
  color: #fff;
  width: 100%;
}

.login-form button {
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #fff;
}

.register-form {
  position: relative;
}

.register-form .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #000;
}

.register-form .user_icon {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.register-form label {
  color: white;
}

.register-form input {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: solid 2px #fff;
  outline: none;
  color: #fff;
  width: 100%;
}

.register-form button {
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #fff;
}

.company-login-form {
  position: relative;
}

.company-login-form .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
}

.company-login-form .user_icon {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.company-login-form label {
  color: white;
}

.company-login-form input[type="email"],
.company-login-form input[type="password"] {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: solid 2px #fff;
  outline: none;
  color: #fff;
  width: 100%;
}

.company-login-form button {
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #fff;
}

.company-register-form {
  position: relative;
}

.company-register-form .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
}

.company-register-form .user_icon {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.company-register-form label {
  color: white;
}

.company-register-form input {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: solid 2px #fff;
  outline: none;
  color: #fff;
  width: 100%;
}

.company-register-form button {
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #fff;
}

