files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      sudo aws ssm get-parameters --region ap-northeast-1 --name laravel-php-conf --with-decryption | jq -r .Parameters[].Value > /home/ec2-user/php.conf
      sudo sh -c "cat /home/ec2-user/php.conf > /etc/nginx/conf.d/elasticbeanstalk/php.conf"
      sudo nginx -s reload
      sudo aws ssm get-parameters --region ap-northeast-1 --name laravel-myapp-env2 --with-decryption | jq -r .Parameters[].Value > .env
      cd /var/app/current/ | php artisan key:generate

container_commands:
  01_deploy:
    command:  /home/ec2-user/setup.sh