files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      sudo sh -c "cat /var/app/current/config/php.conf > /etc/nginx/conf.d/elasticbeanstalk/php.conf"
      sudo sh -c "cat /var/app/current/config/database.aws > /var/app/current/config/database.php"
      sudo nginx -s reload
      sudo aws ssm get-parameters --region ap-northeast-1 --name laravel-myapp-env --with-decryption | jq -r .Parameters[].Value > .env
      sudo cd /var/app/current/ | php artisan key:generate

container_commands:
  01_deploy:
    command:  /home/ec2-user/setup.sh