files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      #!sudo sh -c "cat /var/app/current/config/php.conf > /etc/nginx/conf.d/elasticbeanstalk/php.conf"
      #!sudo sh -c "cat /var/app/current/config/database.aws > /var/app/current/config/database.php"
      #!sudo sh -c "echo 'test' > /home/ec2-user/test5"
      #!sudo sh -c "echo 'test' > test2"
      #!sudo sh -c "cat test > /home/ec2-user/test3"
      #!sudo sh -c "cat /home/ec2-user/test > test4"
      sudo sh -c "cat test > /etc/nginx/conf.d/elasticbeanstalk/php.conf"
      sudo sh -c "cat test > config/database.php
      sudo sh -c "cat config/php.conf > test6" 
      sudo sh -c "cat config/database.aws > test7"
      sudo nginx -s reload
      sudo aws ssm get-parameters --region ap-northeast-1 --name laravel-myapp-env --with-decryption | jq -r .Parameters[].Value > .env
      sudo cd /var/app/current/ | php artisan key:generate

container_commands:
  01_deploy:
    command:  /home/ec2-user/setup.sh